@model CourseDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/assets/img/course/@Model.Course.CourseImages.ElementAtOrDefault(0).Image" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Course.CourseCategory.Name.ToString().ToUpper().</h2>
                        <p>@Model.Course.CourseDetails.About</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Model.Course.CourseDetails.About</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Model.Course.CourseDetails.Application</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p class="margin">@Model.Course.CourseDetails.Certification</p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Course.CourseFeatures.Date.ToLongDateString()</span></li>
                                <li>duration <span>@Model.Course.CourseFeatures.Duration Month</span></li>
                                <li>class duration <span>@Model.Course.CourseFeatures.ClassDuration hours</span></li>
                                <li>skill level <span>@Model.Course.CourseFeatures.SkillLevel</span></li>
                                <li>language <span>@Model.Course.Language.Name</span></li>
                                <li>students <span>@Model.Course.CourseFeatures.Capacity</span></li>
                                <li>assesments <span>@Model.Course.Assestment.Name</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Course.CourseFeatures.Fee</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
