@model Paginate<Course>
@{
    ViewData["Title"] = "Course Page";
}

<!-- Banner Area Start -->
@await Component.InvokeAsync("BannerArea", "Vusal")
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form asp-action="Index" id="search">
                        <input type="search" placeholder="Search..." name="searchedCourse" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model.Datas)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a asp-action="Details" asp-route-id="@course.Id">
                                <img src="~/assets/img/course/@course.CourseImages.FirstOrDefault(i => i.IsMain).Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-action="Details" asp-route-id="@course.Id">@course.CourseCategory.Name.ToString().ToUpper()</a></h3>
                            <p data-toggle="tooltip" data-placement="bottom">@course.Description.ToString().Substring(0, 90)...</p>
                            <a class="default-btn" asp-action="Details" asp-route-id="@course.Id">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row my-3" style="justify-content: center;">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center" style="display: flex;">
                    <li class="page-item">
                        <a class="page-link @(Model.HasPrevious ? "": "disabled")" asp-action="Index" asp-route-searchedCourse="@ViewBag.SearchedCourse" asp-route-take="@ViewBag.Take" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPage; i++)
                    {
                        <li class="page-item">
                            <a class="page-link @(i == Model.CurrentPage ? "disabled" : "")" asp-action="Index" asp-route-searchedCourse="@ViewBag.SearchedCourse" asp-route-take="@ViewBag.Take" asp-route-page="@i">@i</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link @(Model.HasNext ? "": "disabled")" asp-action="Index" asp-route-searchedCourse="@ViewBag.SearchedCourse" asp-route-take="@ViewBag.Take" asp-route-page="@(Model.CurrentPage+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Course End -->
