@model Paginate<TeacherListVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Position
            </th>
            <th>
                Faculty
            </th>
            <th>
                Mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model.Datas)
        {
            <tr>
                <td>
                    <img style="width: 80px;" src="~/assets/img/teacher/@teacher.Image">
                </td>
                <td>
                    @teacher.Name
                </td>
                <td>
                    @teacher.Position
                </td>
                <td>
                    @teacher.Faculty
                </td>
                <td>
                    @teacher.Email
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@teacher.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@teacher.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@teacher.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="row my-3" style="justify-content: center;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="display: flex;">
            <li class="page-item">
                <a class="page-link @(Model.HasPrevious ? "": "disabled")" asp-action="Index" asp-route-take="@ViewBag.Take" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
            </li>
            @for (int i = 1; i <= Model.TotalPage; i++)
            {
                <li class="page-item">
                    <a class="page-link @(i == Model.CurrentPage ? "disabled" : "")" asp-action="Index" asp-route-take="@ViewBag.Take" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link @(Model.HasNext ? "": "disabled")" asp-action="Index" asp-route-take="@ViewBag.Take" asp-route-page="@(Model.CurrentPage+1)">Next</a>
            </li>
        </ul>
    </nav>
</div>
